<table id="tasksTable" class="table table-striped">
  <caption><h2>Tasks</h2></caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Name</th>
      <th>Priority</th>
      <th>Deadline</th>
      <th>Options</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each_with_index do |task, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= task.start_time %></td>
        <td><%= task.end_time %></td>
        <td class="taskName"><%= task.name %></td>
        <td><%= task.priority %></td>
        <td><%= task.deadline.to_s(:custom_time) %></td>
        <td><%= link_to 'Details', [@user, task], class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_user_task_path(@user, task), class: "btn btn-default" %></td>
        <td><%= link_to 'Delete', [@user, task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
