<%= form_for([@user, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'Title' %>
    <%= f.text_field :name, :placeholder => "Untitled event" %>
  </div>
  <div class="field">
    <%= label_tag 'Start' %>
    <%= f.text_field :start_time, :id => "start_time_picker", :placeholder => DateTime.current().to_formatted_s(:custom) %>
  </div>
  <div class="field">
    <%= label_tag 'End' %>
    <%= f.text_field :end_time, :id => "end_time_picker", :placeholder => DateTime.current().to_formatted_s(:custom) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
