<table id="eventsTable" class="table table-striped">
  <caption><h2>Events</h2></caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Name</th>
      <th>Options</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each_with_index do |event, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= event.start_time.to_s(:custom_time) %></td>
        <td><%= event.end_time.to_s(:custom_time) %></td>
        <td class="eventName"><%= event.name %></td>
        <td><%= link_to 'Details', [@user, event], class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_event_path(@user, event), class: "btn btn-default" %></td>
        <td><%= link_to 'Delete', [@user, event], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
