<div class="container">
<h1>Register at Tudu</h1>
<%= link_to 'Go Back', root_url %>	
<%= form_for @user, :as => :user, :url => new_user_path, :method => :post  do |f| %>
	<p>
		<%= f.label :email %><br><%= f.text_field :email %><br>
		<%= show_field_error(@user,:email) %>
		<%= f.label :password %><br><%= f.password_field :password%><br>
		<%= show_field_error(@user,:password) %>
		<%= f.label :password_confirmation %><br><%= f.password_field :password_confirmation%><br>
		<% show_field_error(@user,:email) %>
		<br>
		<%= f.submit 'Sign Up' %>
	</p>
<% end %>
</div>