<div class="container">
<h1>Register at Tudu</h1>
<%= link_to 'Go Back', root_url %>	
<%= form_for :user, url: users_path do |f| %>
	<% if @user.errors.any? %>
	<div id="error_window">
		<h2><%= pluralize(@user.errors.count, "error") %> kept this from happening.</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	<p>
		<%= f.label :email %><%= f.text_field :email %>
		<%= f.label :password %><%= f.text_field :password%>
		<%= f.label :password_confirmation %><%= f.text_field :password_confirmation%>
		<%= f.label :terms_of_service %><%= f.check_box :terms_of_service %>
		<%= f.submit %>
	</p>
<% end %>
</div>